@import "reset.css";
@import "variables.css";

.cabecalho {
    text-align: center;
}

body {
    background-color: var(--light-blue);
}

.main-card {
	height:auto;
	width: 400px;
    background-color:#ffffff;
    border-radius: 8px;
    margin:auto;
}
